<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="fullName" >Введите ФИО: </label>
    <input id="fullName" type="text" th:field="*{fullName}">
     <div style = "color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">fullName error</div>
    <br>
    <label for="yearOfBorn" >Введите год рождения: </label>
    <input id="yearOfBorn" type="text" th:field="*{yearOfBorn}">
     <div style = "color:red" th:if="${#fields.hasErrors('yearOfBorn')}" th:errors="*{yearOfBorn}">yearOfBorn error</div>
    <br>
    <input type="submit" value="Редактировать">
</form>

<br>
<form th:method="GET" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Назад">
</form>

</body>
</html>