<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание новой книги</title>
</head>
<body>

    <form th:method="POST" th:action="@{/books}" th:object="${book}">
        <label for="title" >Введите название книги: </label>
        <input id="title" type="text" th:field="*{title}">
         <div style = "color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</div>
        <br>
        <label for="author" >Введите автора: </label>
        <input id="author" type="text" th:field="*{author}">
         <div style = "color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author error</div>
        <br>
        <label for="yearOfRelease" >Введите год издания: </label>
        <input id="yearOfRelease" type="text" th:field="*{yearOfRelease}">
         <div style = "color:red" th:if="${#fields.hasErrors('yearOfRelease')}" th:errors="*{yearOfRelease}">yearOfRelease error</div>
        <br>
        <input type="submit" value="Создать">
    </form>
    <br>
    <form th:method="GET" th:action="@{/books}">
        <input type="submit" value="Назад">
    </form>

</body>
</html>